@media screen and (width<=1300px){

    .majorLogo{
        width: 20vw;
    }
    .otherLogos{
        width: 20vw;
    }
}  

@media screen and (width<=900px){
.footerContact2 .GeneralButton img{
   display: none;
}

.footerContact2 .GeneralButton{
   height: 7vw;
 }

 .footer{
    height: 40vh;
 }

}


@media screen and (width<=780px){
.footer{
    height: 20vh;
}
}
@media screen and (width<=690px){
.footer{
    height: 40vh;
}
.majorLogo{
    width: 30vw;
}
.otherLogos{
    width: 30vw;
}

.footerLogos{
    flex-flow: row wrap;
}

.otherLogos {
    width: 30vw;
}

.otherLogos a img{
    width: 7vw;
}
}

@media screen and (width<=540px){
    .footerContact2 .GeneralButton{
        height: 15vw;
        text-align: center;
      }
}

@media screen and (width<=460px){
    .footer{
        height: 25vh;
    }
 

}

