@media only screen and (width <= 1300px) {

    .catchPhrase p{
        font-size: 20px;
    }
 

    .hero2{
        height: 90vh;
        margin-bottom: 0;
    }

    .About p{
        font-size: 18px;
    }
    .clients p{
        font-size: 14px;
    }
    .cardInfo h1{
        font-size: 20px;
    }
    .cardInfo{
        height:60%;
    }
    .disclaimer p{
        font-size: 20px;
    }
    .otherLogos a img{
        width: 4vw;
    }
    .majorLogo{
        width: 19vw;
    }
    
}

@media only screen and (width <= 1110px) {
    .catchPhrase{
     margin-top: 100px;
    }
    .catchPhrase p{
     font-size: 16px;
    }
     .GeneralButton {
         width: 250px;
     }
 
     .hero2{
         height:75vh;
     }
 
     .cardInfo{
         height:60%;
     }
     .cardInfo div h1{
         font-size:18px;
         text-align: center;
     }
     .cardInfo div p{
         font-size:16px;
         text-align: center;
     }
     #socials{
         font-size: 14px;
     }
  
     .seenEnough2{
     width: 20%;
    }
 
 .otherLogos{
         width: 70%;
 }
 
 .otherLogos a img{
     width:40px;
 }
 .final_hero{
    height: 100vh;
 }
 
 
 } 



 @media only screen and (width <= 1080px){
    .otherLogos{
        width:100%;
        margin: 10px;
}
#socials{
    font-size: 12px;
}
.otherLogos{
    width: 20vw;
}
.otherLogos a img{
    width:40px;
}

.disclaimer_text{
    font-size: 1vw;
}
} 

 @media only screen and (width <= 1024px){
    .clients img{
        width: 5vw;
    }
    .clients p{
        font-size: 14px;
    }
    .cardInfo div h1{
        font-size: 16px;
}
.cardInfo div p{
    font-size: 14px;
}

    #socials{
        font-size: 12px;
    } 

    .see_ecatalogue_img{
        width: 45%;
    }
    .see_ecatalogue h1{
        font-size: 12vh;

    }

} 



 @media screen and (width <= 1000px){
.catchPhrase{
    margin-top: 23vw;
    height: 100%;
    padding: 0;
}
.catchPhrase h1{
    margin-bottom: 20px;
    padding: 0;
}
.subAction{
    width:90%;
}

.hero2{
    height:70vh;
}
.About p{
    font-size: 16px;
}
.clients img{
    width:35%;
}

    .clients p {
        text-align: center;
        font-size: 12px;
    }

    .cardinfo{
        height:60%;
    }
    .cardInfo h1 {
        font-size: 18px;
    }
    .cardInfo p {
        font-size: 12px;
    }
    .header{
        display: flex;
       
    }
    .disclaimer_text{
        text-align: center;
        font-size: .9vw;
    }
    
} 

 @media only screen and (width <= 980px){
.header nav ul li a{
    font-size: 12px;
}

.header nav ul li a img{
    width: 10px;
}
} 

 @media only screen and (width <= 990px){
.hero2{
    height: 70vh;
}
.clients img{
    width:30%;
}
.clients p{
    font-size: 12px;
}
.cardInfo h1{
    font-size: 20px;
}
.cardInfo p{
    font-size: 13px;
}

.cardInfo .GeneralButton{
    width: 130px;

}
.cardInfo .GeneralButton img{
    display: none;
}
.footer{
    height: 50vh;
}
.upper{
    display: none;
}
#socials{
font-size: 12px;
}

.disclaimer_text{
    font-size: 1vw;
}


} 

@media screen and  (width <= 885px){
    body{
        overflow-x: hidden;
        position: relative;
      }

.mobile{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 9999;
}

    .mobile_header_for_logo_menu{
        background-color: transparent;
        width: 100%;
        height: 80px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 10px 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu-btn{
        width: 60px;
        height: 100%;
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.menu-icon, .menu-icon::before, .menu-icon::after{
width: 30px;
height: 3px;
background-color: var(--WhiBg);
position: absolute;
transition: .3s all;
}

.menu-icon::before, .menu-icon::after{
    content: "";
}

.menu-icon::before{
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
}
.menu-icon::after{
    transform: translate(-0px, -10px);
    -webkit-transform: translate(-0px, -10px);
    -moz-transform: translate(-0px, -10px);
    -ms-transform: translate(-0px, -10px);
    -o-transform: translate(-0px, -10px);
}

    .mobile_logo{
        width: 100%;
    }
    .mobile_logo img{
        width: 100px;
    }

    .header{
        display: none;
       
    }

    .header_mobile{
        background-color: var(--priColor);
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        width: 300px;
        right: 0;
        top: 0;
        height: 100vh;
        padding: 20px 0px;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;

}

    .header_mobile nav{
        height: 100%;
    }
    .header_mobile nav ul{
    
        display: flex;
        height: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .dropdown_menu{
        width: 300px;
    }
    .dropdown_menu ul li{
        width: 100%;
    }
    .header_mobile nav ul a{
        font-size: 22px;
    }
    .header_mobile nav ul a:hover{
        font-size: 20px;
        color: var(--textColor);
    }

  
    .dropdown_menu{
        z-index: 3;
        transform: translate(-300px, -100px);
        -webkit-transform: translate(-300px, -100px);
        -moz-transform: translate(-300px, -100px);
        -ms-transform: translate(-300px, -100px);
        -o-transform: translate(-300px, -100px);
        border-radius: 10px 0px 10px 0px;
        -webkit-border-radius: 10px 0px 10px 0px;
        -moz-border-radius: 10px 0px 10px 0px;
        -ms-border-radius: 10px 0px 10px 0px;
        -o-border-radius: 10px 0px 10px 0px;
}

.dropdown_menu ul{
        gap: 10px;
}

:is(.mobile:hover, .mobile:focus-within) .menu-icon{
    background-color: transparent;

}
:is(.mobile:hover, .mobile:focus-within) .menu-icon::before{
    transform: translate(0px) rotate(-45deg);
    -webkit-transform: translate(0px) rotate(-45deg);
    -moz-transform: translate(0px) rotate(-45deg);
    -ms-transform: translate(0px) rotate(-45deg);
    -o-transform: translate(0px) rotate(-45deg);
    background-color: var(--WhiBg);
    box-shadow: #fff 0px 0px 10px, #fff 0px 0px 30px;;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
:is(.mobile:hover, .mobile:focus-within) .menu-icon::after{
    transform: translate(0px) rotate(45deg);
    -webkit-transform: translate(0px) rotate(45deg);
    -moz-transform: translate(0px) rotate(45deg);
    -ms-transform: translate(0px) rotate(45deg);
    -o-transform: translate(0px) rotate(45deg);
    background-color: var(--WhiBg);
    box-shadow: #fff 0px 0px 10px, #fff 0px 0px 30px;;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
:is(.mobile:hover, .mobile:focus-within) .menu-btn{
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    background-color: transparent;
}
:is(.mobile:hover, .mobile:focus-within) .header_mobile{
    display: flex;

}

.hero1{
    height: 100vh;
}
.catchPhrase{
    height: 80%;
    align-items: start;
    justify-content: start;

}
.catchPhrase h1{
    font-size: 8vw;
}
.subAction{
    flex-flow: column wrap;
    gap: 10px;
    align-items: start;
    justify-content: start;
}
.subAction p{
    width:100%;
    font-size: 16px;
}
.subAction a{
    margin-top: 5px;
}

.hero2{
    padding: 2vw 5vw;
    height: 60vh;
}
.hero4{
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    
}
.clients {
    flex: 1 1 calc(50% - 2vw); 
    height: 20vw;
    padding: 0px 20px;
}
.clients img{
    width: 9vw;
}


.hero5{
    display: none;
}

.see_ecatalogue_img{
    width: 30%;
}
.final_hero{
    height: 70vh;
}

.break{
    height: 70px;
}
.eCatalogue-Slides{
    margin-top: -10px;
}
.footer{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower{
    display: flex;
    background-color: #333333;
}
.seenEnough2{
    width: 50%;
    display: none;
}
.footer{
    height: 50vh;
}
#footerCatchPhrase{
display: none;
}
#socials{
    font-size: 14px;
    flex: 1;
    margin-left: 3vw;
}

.footerLogos{
    padding: 2;
    flex-flow: row wrap;

}
.otherLogos a img{
    width: 4vw;
}
.majorLogo{
    width: 17vw;
    height: auto;
}
.disclaimer p{
    font-size: 16px;
}

}

    
@media screen and  (width<=800px){
    .final_hero{
        height: 100vh;
}
}


 @media screen and (width <= 840px){
.catchPhrase{
    margin-top: 50px;
}
.GeneralButton{
    height: 55px;
}
.hero3{
    height: 14vh;
}
.sideEffect{
    height: 100%;
}
.hero4Heading p{
    text-align: center;
}
.clients{
    height: 250px;
}
.clients p{
    font-size: 16px;
}
} 

@media screen and (width <= 750px){
    .hero1{
        height: 80vh;
    }
    .hero2{
        flex-flow: column wrap;
        height: 130vh;
        gap: 20px;

   }
     .About{
        flex: 0;
        order: 2;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        
    }
    .AboutImg{
        width: 100%;
        height: 100vh;

    }
    .AboutImg .slider{
        height: 90%;
    }
    .hero2:hover .AboutImg{
        scale: 1;
        border: var(--priColor) 2px solid;
        box-shadow: #03030300 0px 0px 0px;
    
    }
    .About p{
        font-size: 18px;
    }
    .GeneralButton{
    width: 150px;
    height: 40px;
    font-size: 14px;

    }
    .GeneralButton img{
        display: none;
    }
  
 
}

@media screen and (width <= 660px){
    #socials{
        font-size: 12px;
    }
}

  @media screen and (width <= 640px){
    
/*     .hero3{
        margin-top: -90px;
    } */
    .footer{
        height: 90vh;

    }
    .lower{
        flex-flow: row wrap;
    }
    #socials{
        font-size: 16px;
        margin-top: 40px;
    }

    #footerLogos{
        height: 40vh;
        flex-flow: row wrap;
        gap: 20px;
        padding: 2vw 4vw;
    }
    .majorLogo a img{
        width: 70%;
    }
    .otherLogos{
        width: 50%;
    }
    .otherLogos a img{
        width: 45px;
    }


    .footerContact2{
        height: auto;
    }
    .eCatalogue_pics{
        flex: 0;
        display: none;
    }
    .final_hero{
        height: 40vh;
        flex-flow: column wrap;
    }
    .see_ecatalogue h1{
        font-size: 10vh;
    }
}  

 @media screen and (width <= 560px){
.hero1{
    height: 90vh;
    background-size: 115%;
}

.catchPhrase h1{
    margin-bottom: -4px;
}
.hero2{
    height:120vh ;
}
.About{
    margin-bottom: 10px;
}
.About p{
    font-size: 16px;
}
.hero4Heading p{
font-size: 16px;
}
.footer{
    height: 80vh;
}

.final_hero{
    height: 40vh;
}

.see_ecatalogue h1{
    font-size: 8vh;
}



.otherLogos a img{
    width: 36px;
}
#socials{
    margin-top: 20px;
}
} 

 @media screen and (width <= 523px){
    .hero1{
    height: 85vh;
    }
    .catchPhrase{
        width: 90%;
        margin-left: 10px;
    }

    .mobile_header_for_logo_menu{
        padding: 1vw 4vw;
    }
    .disclaimer p{
        font-size: 14px;
    }


}
 
 @media screen and (width <= 480px){
    .hero1{
        height: 55vh;
        background: linear-gradient(90deg, #02292bea, #3a3a3a80);

    }
    .catchPhrase h1{
        text-decoration: underline;
        color: #fff;
    }
    .subAction p{
        font-size: 14px;
        margin-top: 20px;
    }


.header_mobile{
    height: 55vh;
    width: 200px;
}
.header_mobile ul li a{
    font-size: 16px;
}
.dropdown_menu{
    width: 200px;
    transform: translate(-210px, -45px);
    -webkit-transform: translate(-210px, -45px);
    -moz-transform: translate(-210px, -45px);
    -ms-transform: translate(-210px, -45px);
    -o-transform: translate(-210px, -45px);
}

.hero2{
    height: 80vh;
}
.AboutImg{
    border: none;
}
.About p{
    font-size: 15px;
    padding: 0px 20px;
}

.About{
    gap: 10px;
    margin-bottom: 20px;
}
.hero3{
    height: 60px;
}
.sideEffect{
    height: 100%;
    background-color: #ffffffd8;
}
.eCatalogue-SlidesBreak{
    height: 10vh;
}
.break{
    height: 70%;
}
.clients{
    margin: 0px 20px;
    height: 150px;
    
}
.clients p{
    font-size: 15px;

}

.footer{
    height: 40vh;
    padding: 0vw 3vw ;
    justify-content: space-between;
 }

#socials{
    font-size: 12px;
}
.footerContact2{
    height: 30vh;
    padding: 0vw 2vw;
    margin: 0;
}
#footerLogos{
    height: 20vw;
}
.majorLogo{
    width: 60px;
}
.otherLogos a img{
    width: 30px;
}


#disclaimer{
    display: flex;
    justify-content: center;
}
.disclaimer_text{
    font-size: 6px;
    text-align: center;
}
.final_hero{
    height: 20vh;
}
.see_ecatalogue{
    display: flex;
    align-items: center;
    justify-content: center;
}
.see_ecatalogue h1{
    font-size: 5vh;
    line-height: 30px;
    text-align: center;
}
}
 




    

   







