/* CSS Variables */
:root {
    --priColor: #00a2ff;
    --priColor2: #9e9e9e;
    --priColorFade: #00a2ff8a;
    --priColorFade3:#00a2ff2c;
    --secColor: #ffffff;
    --textColor: #333333;
    --textColorw:#ffffff;
    --bgColor: #f5f5f5;
    --BlaGB: #030303;
    --WhiBg: #ffffff;
}
body{
    position: relative;
}





.map{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0vw;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.about-header{
    width: 100%;
    height: 20vw;   
    background-color: var(--priColor2);
     display: flex;
    align-items: center;    
    justify-content: center;
    padding: 5vw;
}

.about-header p {
    font-size: 7vw;
    color: var(--priColorFade3);
    font-weight: bold;
    background-image: url(pablo-lancaster-jones-j9blCRSZ_Q4-unsplash.jpg); 
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1; 

}
.about-us-content-box{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2vw 15vw;
    gap: 5vw;

}
.side1, .side2{
    flex: 1;
    
}

/* Contact Us Page - map */
.side2 iframe{
    width: 100%;
    height: 100%;
}
.side1 p{
    color: var(--textColor);
    font-weight: 300;
    line-height: 2.5vw;
    font-size: 2vw;
}
.side1 span, .side2 span{
    font-weight: bold;
    color: var(--priColor);
}

.blueSky-Units{
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw 15vw;
    gap: 3vw;
}

#myVideo{
    width: 100%;
    height: 100%;
    border: var(--priColor) 2px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
   
}

.units-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 1vw;
    text-align: left;
}

.units-info h1{
    color: #3a3a3a;
    line-height: 2vw;
    font-size: 2vw;
    text-align: left;
    width: 100%;

}

.units-heading{
    width: 70%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.units-heading h1{
    color: #3a3a3a;
}



.units-Illustration{
    width: 100%;
    height: 55vh;
    padding: 0vw 5vw;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1vw;
    margin-bottom: 40px;
/*     border: #3a3a3a solid 2px;
 */}

.unitSections, .unitsLiing{
flex: 1;
height: 100%;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
background-color: var(--priColor);
padding: 1vw;
gap: .6vw;
border-radius: 12px;
margin-top: 1vw;
text-decoration: none;
transition: .3s all;
-webkit-transition: .3s all;
-moz-transition: .3s all;
-ms-transition: .3s all;
-o-transition: .3s all;


}
.unitSections:hover{
    background-color: #41657a;

}

.unitSections img{
    width: 30%;
    padding: 2px;

}
.unitSections p{
    text-align: center;
    
}
.unit-heading{
    font-weight: bold;
    color: #181818;
    font-size: 20px;
}
.unit-heading-info{
    color: var(--textColorw);
}
.click{
color: var(--textColorw);
font-weight: 300;
letter-spacing: .2vw;
opacity: 0;
transition: .3s all;
-webkit-transition: .3s all;
-moz-transition: .3s all;
-ms-transition: .3s all;
-o-transition: .3s all;
}
.unitSections:hover .click{
    opacity: 1;
    letter-spacing: .6vw;

}

/* eCatalogue Page */
#slider{
    display: flex;
    align-items: start;
    justify-content: start;
}
#slider img{
    object-position: top;
}




/* Mobile Query for Other Pages */
@media only screen and (width >= 2200px){
.about-us-content-box{
    height: 60vh;
}
.about-us-content-box p{
    font-size: 28px;
}
.blueSky-Units{
    height: 25vw;
    background-color: #00a2ff41;
    margin-bottom: 30px;
}
#myVideo{
    border: none;
}

.units-info h1{
    font-size: 3vw;
    height: 100%;
}
.units-info p{
    font-size: 28px;
}
.units-heading{
    margin-bottom: 30px;
}
.units-heading h1{
    font-size: 60px;  
}
.units-Illustration{
    border: black solid;
}
.unitsLiing{
    height: 90%;
    padding: .5vw;
}
.unit-heading{
    color: red;
    font-size: 30px;
}
.unitSections p{
    font-size: 20px;
}


}

@media (width <= 885px){


    .about-header{
        height: 30vh;
        background-color: transparent;
    }
    .mobile_header_for_logo_menu{
        padding: 2vw 5vw;
    }

    .about-header p{
        background-color: var(--priColor);
        padding: 2vw;
    }
    .about-us-content-box{
        height: 35vh;
        padding: 2vw 5vw;
        background-color: var(--priColorFade3);

    }
    #side1{
        width:100px;
        display: none;
        border: #3a3a3a solid;
    }
    .side2 p{
    font-size: 20px;
    }
    .blueSky-Units {
        flex-flow: column wrap;
        height: 112vh;
        padding: 2vw 5vw;
        gap: 50px;
    }
    .units-info h1{
        font-size: 60px;
        text-align: center;
        margin-bottom: 40px;
    }

    .units-info p{
        font-size: 20px;
        padding: 0px 40px;
    }
    #myVideo{
        border: none;
    }
    .units-Illustration{
        flex-wrap: wrap;
        height: 95vh;
        margin-bottom: 20px;
    }
    .units-Illustration a{
         height: 300px;
        flex: 1 1 calc(50% - 2vw); 

    }
    .hero3{
        height: 100px;
        margin-bottom: 15px;
    }

}





        
    
