/* CSS Variables */
:root {
    --priColor: #00a2ff;
    --priColor2: #9e9e9e;
    --priColorFade: #00a2ff8a;
    --priColorFade3:#00a2ff2c;
    --secColor: #ffffff;
    --textColor: #333333;
    --textColorw:#ffffff;
    --bgColor: #f5f5f5;
    --BlaGB: #030303;
    --WhiBg: #ffffff;
}
body{
    position: relative;
}





.map{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0vw;
}
.map iframe{
    width: 100%;
    height: 100%;
}
.about-header{
    width: 100%;
    height: 20vw;   
    background-color: var(--priColor2);
     display: flex;
    align-items: center;    
    justify-content: center;
    padding: 5vw;
}

.about-header p {
    font-size: 7vw;
    color: var(--priColorFade3);
    font-weight: bold;
    background-image: url(pablo-lancaster-jones-j9blCRSZ_Q4-unsplash.jpg); 
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    z-index: 1; 

}
.about-us-content-box{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2vw 15vw;
    gap: 5vw;

}
.side1, .side2{
    flex: 1;
    
}

/* Contact Us Page - map */
.side2 iframe{
    width: 100%;
    height: 100%;
}
.side1 p{
    color: var(--textColor);
    font-weight: 300;
    line-height: 2.5vw;
    font-size: 2vw;
}
.side1 span, .side2 span{
    font-weight: bold;
    color: var(--priColor);
}

.blueSky-Units{
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vw 15vw;
    gap: 3vw;
}

#myVideo{
    width: 100%;
    height: 100%;
    border: var(--priColor) 2px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
   
}

.units-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 1vw;
    text-align: left;
}

.units-info h1{
    color: #3a3a3a;
    line-height: 2vw;
    font-size: 2vw;
    text-align: left;
    width: 100%;

}

.units-heading{
    width: 70%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.units-heading h1{
    color: #3a3a3a;
}



.units-Illustration{
    width: 100%;
    height: 55vh;
    padding: 0vw 5vw;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1vw;
    margin-bottom: 40px;
/*     border: #3a3a3a solid 2px;
 */}

.unitSections, .unitsLiing{
flex: 1;
height: 100%;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
background-color: var(--priColor);
padding: 1vw;
gap: .6vw;
border-radius: 12px;
margin-top: 1vw;
text-decoration: none;
transition: .3s all;
-webkit-transition: .3s all;
-moz-transition: .3s all;
-ms-transition: .3s all;
-o-transition: .3s all;


}
.unitSections:hover{
    background-color: #41657a;

}

.unitSections img{
    width: 30%;
    padding: 2px;

}
.unitSections p{
    text-align: center;
    
}
.unit-heading{
    font-weight: bold;
    color: #181818;
    font-size: 20px;
}
.unit-heading-info{
    color: var(--textColorw);
}
.click{
color: var(--textColorw);
font-weight: 300;
letter-spacing: .2vw;
opacity: 0;
transition: .3s all;
-webkit-transition: .3s all;
-moz-transition: .3s all;
-ms-transition: .3s all;
-o-transition: .3s all;
}
.unitSections:hover .click{
    opacity: 1;
    letter-spacing: .6vw;

}

/* eCatalogue Page */
#slider{
    display: flex;
    align-items: start;
    justify-content: start;
}
#slider img{
    object-position: top;
}




/* Mobile Query for Other Pages */
@media only screen and (width >= 2200px){
    .hero2{
        padding: 1vw 5vw;
        height: 90vh;
        border: #3a3a3a solid;
    }
.about-us-content-box{
    height: 60vh;
}
.about-us-content-box p{
    font-size: 28px;
}
.blueSky-Units{
    height: 25vw;
    margin-bottom: 30px;
}
#myVideo{
    border: none;
}

.units-info h1{
    font-size: 3vw;
    height: 100%;
}
.units-info p{
    font-size: 28px;
}
.units-heading{
    margin-bottom: 30px;
}
.units-heading h1{
    font-size: 60px;  
}

.unitsLiing{
    height: 90%;
    padding: .5vw;
}
.unit-heading{
    font-size: 30px;
}
.unitSections p{
    font-size: 20px;
}
#socials{
    font-size: 21px;
}



}

@media only screen and (width <= 2198px){
    
.hero2{
    height: 80vh;
}
.About p{
    font-size: 25px;
}
.About .GeneralButton{
    font-size: 23px;
    height: 60px;
    width: 250px;
}
.hero3{
    height: 140px;
}


}

@media only screen and (width <= 1240px){
    
    .hero2{
        height: 65vh;
    }
    .About p{
        font-size: 20px;
    }
    .About .GeneralButton{
        font-size: 20px;
        height: 45px;
        width: 250px;
    }
  
    
    }


    @media only screen and (width <= 920px){
    
        .hero2{
            flex-flow: column wrap;
            height: 115vh;
        }
        .About{
            order: 1;
            margin-top: -100px;
        }

        .About p{
            font-size: 20px;
        }
        .About .GeneralButton{
            font-size: 20px;
            height: 45px;
            width: 250px;
        }
        .hero2:hover .AboutImg{
            scale: 1;
            box-shadow: #03030300 10px 10px 5px;

        }
        
        }

        @media only screen and (width <= 838px){
            .About{
        
                margin-top: -80px;
            }
            }

            @media only screen and (width <= 680px){
    
                .hero2{
                    flex-flow: column wrap;
                    height:100vh;
                    }
                .About{
                    padding: 1vw 6vw;
                    order: 1;
                    margin-top: -10px;
                }
        
                .About p{
                    font-size: 20px;
                }
                
                }

            @media only screen and (width <= 500px){

            .hero2{
                flex-flow: column wrap;
                height:120vh;
                margin-bottom: 10px;
                }

            .About{
                padding: 1vw 6vw;
                order: 1;
                margin-top: px;
            }

           .subHead{
            text-align: left;
            width: 100%;
           }
        
            .About p{
                font-size: 20px;
            }
            .hero3{
                margin-top:20px ;
            }
            
                
                }
    
    


 




        
    
