/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Poppins, sans-serif;
/*     margin-bottom: 500px;
 */
 overflow-x: hidden;
}

/* CSS Variables */
:root {
    --priColor: #0043a8;
    --priColor2: #9e9e9e;
    --priColorFade: #1900ff;
    --secColor: #ffffff;
    --textColor: #333333;
    --textColorw:#ffffff;
    --bgColor: #f5f5f5;
    --BlaGB: #030303;
    --WhiBg: #ffffff;
}

/* Hero1 Styling */
.hero1 {
    background: linear-gradient(90deg, #fcfcfcef, #043fff00);
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.back_video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back_video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back_video{
        width: auto;
        height: 100%;
    }
}

/* Nav Menu Header CSS */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--priColor);
    backdrop-filter: blur(10px);
    color: var(--secColor);
    z-index: 100;
}

.header_mobile{
    display: none;
}


.logo-container {
    max-width: 150px;
}

.Companylogo {
    width: 70%;
    height: auto;
}

nav{
   width: 80%;
 flex-wrap: wrap;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 4vw;
}
nav ul li a, .re-used{
     text-decoration: none;
     color: var(--WhiBg);
     border-radius: 5px;
     background-color: transparent;
     padding: .3vw 2.5vw;
     position: relative;
     transition: .3s;
     -webkit-transition: .3s;
     -moz-transition: .3s;
     -ms-transition: .3s;
     -o-transition: .3s;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}

nav ul li a:hover{
    background-color: var(--priColor2);
    font-size: 15px;
    color: var(--WhiBg);
}

nav ul li{
    position: relative;
}
.mobile{
    display: none;
}



/* DropDown Menu CSS */
.dropdown_menu{
    display:block;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--WhiBg);
    border:1px solid var(--priColor) ;
    border-radius: 0px 10px 10px 10px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    -webkit-border-radius: 0px 10px 10px 10px;
    -moz-border-radius: 0px 10px 10px 10px;
    -ms-border-radius: 0px 10px 10px 10px;
    -o-border-radius: 0px 10px 10px 10px;
}
.dropdown_menu{
    display: none;
}
nav ul li:hover .dropdown_menu{
    display: block;
}

.dropdown_menu ul{
    display: block;
    margin: 10px;
}
.dropdown_menu ul li{
    padding: 5px;
    width:230px;
}
.dropdown_menu ul li a{
    color: var(--textColor);
}

.logo1{
    position: absolute;
    width: 10px;
    left: 8px;
    top: .6vw;
    opacity: 0;
    z-index: 1;
    transition: .3s;
}
  nav ul li a:hover .logo1{
    opacity: 1;
    } 




/* Catch Phrase CSS */
.catchPhrase{
/*     border: var(--bgColor) solid 2px;
 */    width: 70%;
    height: 60%;
    margin-left: -20vw;
    padding: 2vw;
}
.catchPhrase h1{
    color: var(--priColor);
    font-size: 8vw;
}

.subAction{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;

}

/* This is the template for all Button */

.subAction p{
    color: var(--BlaGB);
    width: 65%;
    font-size: 20px;
   
}



/* Hero2 CSS */
.hero2{
    width: 100%;
     height: 70vh;
     padding: 2vw 12vw;
    background-color: var(--WhiBg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 2vw;
}
.About{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column wrap;
    gap: .5vw;
}

.subHead{
    color: var(--priColor);
    font-weight: 300;
    font-size: 20px;
}
.AboutImg{
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    border: var(--priColor) 0px solid;
}
.hero2:hover .AboutImg{
    scale: 1.05;
    border: var(--priColor) 2px solid;
    box-shadow: #03030394 10px 10px 5px;

}
.slider_about {
    display: flex;
    transition: transform 0.5s ease;
}
.AboutImg .slides {
    display: flex;

}
.AboutImg .slide {
    min-width: 100%;
    height: 100%; 

}
.AboutImg .slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.AboutImg .active {
    display: block; 

}



/* Hero3 */
.hero3{
    width: 100%;
    height: 25vh;
    background: url(photos-by-lanty-O38Id_cyV4M-unsplash.jpg);
    background-position: 10% 50%;
    background-repeat:no-repeat ;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Small Side Effect CSS */
.sideEffect {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e0e0e0c9;
backdrop-filter: blur(.5rem);

}

.sideEffect p {
    font-size:5.6vw;
    font-weight: bold;
    text-align: left;
    color: var(--BlaGB);
    line-height: 17px;
}

#units {
    color: var(--BlaGB);
}

.blue {
    color: var(--priColor);
}
.gray{
    color: var(--priColor2);
}
.bolder{
    font-weight: bolder;
}
.gray{
color: var(--priColor2);
}

    /* hero4 */
    .hero4Heading{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vw;
        padding: .3vw 2vw;
        background-color: var(--priColor);
    }
    .hero4Heading p{
        font-size: 20px;
        letter-spacing: 2vw;
        color: var(--textColorw);
        text-transform: uppercase;
    }
    .hero4{
        width: 100%;
        height: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: .5vw 5vw;
        margin-top: .5vw;
    }
    .clients{
        flex: 1;
        height: 100%;
        border: var(--priColor) solid 1px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3vw;
        gap: 1vw;
        flex-flow: row wrap;
        background-image: linear-gradient(#fffffffb, #b9e5ff), url(pattern.png);
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.clients p{
    text-align: center ;
}

    .clients img {
        width: 40%;
        object-fit: cover;
    }

    .hero4eCatalogue-SlidesBreak{
        margin: auto;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
  
}


    /* hero5 CSS */ 
    .hero5{
        margin-top: 2vw;
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:.5vw;
        padding: 0vw 5vw;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
    }

    .card{
        flex: 1;
        height: 100%;
        background-color: var(--textColor);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    .card::before{
        content: "";
        background-image: linear-gradient(#ff000000, #000916);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: normal;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        border-radius: 0px 0px 20px 20px;
        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        -ms-border-radius: 0px 0px 20px 20px;
        -o-border-radius: 0px 0px 20px 20px;
  
}

/*     .card:hover::before{
        background-image: linear-gradient(#ff000000, #00a2ff54);
        mix-blend-mode: normal;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        border-radius: 0px 0px 20px 20px;
        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        -ms-border-radius: 0px 0px 20px 20px;
        -o-border-radius: 0px 0px 20px 20px;
    }
 */


    .card img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        
    }

 
    .cardInfo{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        padding: 0vw .5vw;
        transition: .3s ease ease-in-out;
        -webkit-transition: .3s ease ease-in-out;
        -moz-transition: .3s ease ease-in-out;
        -ms-transition: .3s ease ease-in-out;
        -o-transition: .3s ease ease-in-out;

}

.cardInfo div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

}
.cardInfo h1{
    color: var(--WhiBg);
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    width: 350px;
    text-align: center;
}
.cardInfo p{
    text-align: left;
    line-height: 21px;
    font-size: 17px;
    margin-top: 0;
    width: 350px;
    color: var(--textColorw);
    text-align: center;

}

.GeneralButton{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0%;
    background-color: var(--priColor);
    height: 3.5vw;
    margin-top: 1vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    color: var(--WhiBg);
    font-size: 18px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    
}

.GeneralButton img{
    width:20px;
    height: auto;
    opacity: 0;
    transition: .3s ease-in-out;
}


.GeneralButton:hover{
font-size: 18px;
color: var(--textColorw);
gap: 10%;
}

.GeneralButton:hover img{
    opacity: 1;
}



.final_hero{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw 5vw;
    position: relative;
}
.eCatalogue_pics{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.see_ecatalogue_img{
   border: var(--priColor) solid;
   width:30%;
   position: absolute;
   transition: .3s;
   -webkit-transition: .3s;
   -moz-transition: .3s;
   -ms-transition: .3s;
   -o-transition: .3s;
}

.see_ecatalogue{
    flex: 1;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-flow: column wrap;
    gap: 10px;
}
.see_ecatalogue h1{
    font-size: 15vh;
    line-height: 80px;
    color: var(--priColor);
}

.see_eCatalogue_btn:hover{
    background-color: var(--priColor2);
    color: var(--WhiBg);
   
}
/* Hover finction for see_eCatalog Section */
.final_hero:hover .see_ecatalogue_img:nth-child(2){
    transform: translate(-20px, 30px);
    -webkit-transform: translate(-20px, 30px);
    -moz-transform: translate(-20px, 30px);
    -ms-transform: translate(-20px, 30px);
    -o-transform: translate(-20px, 30px);
    box-shadow: #3a3a3a81 10px -10px 6px;
}
.final_hero:hover .see_ecatalogue_img:nth-child(3){
    transform: translate(-40px, 60px);
    -webkit-transform: translate(-40px, 60px);
    -moz-transform: translate(-40px, 60px);
    -ms-transform: translate(-40px, 60px);
    -o-transform: translate(-40px, 60px);
    box-shadow: #3a3a3a81 10px -10px 6px;
}

.eCatalogue-SlidesBreak{
    margin: auto;
    background-color: transparent;
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw 5vw;
}
.break{
    background-color: var(--priColor);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.break p {
    font-size:5vw;
    font-weight: 300;
    text-align: center;
    color: var(--textColorw);
    line-height: 17px;
}

.footer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: .5vw 5vw;
/*     gap: 3px;
 */}
.upper, .lower{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upper{
background-color: #ffffff;
}
.lower{
    background-color: var(--BlaGB);
}
.lower p{
    color: var(--textColorw);
}


.seenEnough, .footerContact,.contactIcon, .contactIconBot{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0vw 3vw;
    background-color: #00a2ff09;

}
.seenEnough p{
    font-weight: 500;
    line-height: 16px;
}
.footerContact h1{
font-weight: 500;
font-size: 3vw;
line-height: 16px;
text-decoration: underline #00a2ff 3px;
}

.contactIcon{
    justify-content: end;
}

.contactIcon a{
    text-decoration: none;
    font-size: 3vw;
    background-color: var(--BlaGB);
    padding: 1vw 1.7vw;
    border-radius: 50%;
    color: var(--priColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.contactIcon a:hover {
    font-size: 2.5vw;
    background-color: var(--priColor);
    color: var(--textColorw);

}

.seenEnough2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 2vw;

}

.footerContact2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

}
#footerLogos{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

#footerCatchPhrase{
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: 300;
}
#footerCatchPhrase span{
color: var(--priColor);
}

#socials{
    font-weight: 300;
}
#socials span{
    color: var(--priColor);
}

#footerLogos{
width: 30%;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
padding: 4vw;
gap: .5vw;
}
.otherLogos, .majorLogo{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.otherLogos a{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otherLogos a img{
    width: 60px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    border: var(--priColor) 0px solid;
    box-shadow: var(--priColor) 0 0 0px, var(--priColor) 0 0 0px;
}
.otherLogos a img:hover{
    width: 50px;
     border: var(--priColor) 2px solid;
     border-radius: 50%;
    box-shadow: var(--priColor) 0 0 20px, var(--priColor) 0 0 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.majorLogo a{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.majorLogo a img{
    width: 100%;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}
.majorLogo a img:hover{
    width: 90%;
}


/* Disclaimer */
.disclaimer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.disclaimer_text{
    text-align: center;
    font-size: 2vw;
}

/* Responsive Styles */







  

