/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Poppins, sans-serif;
/*     margin-bottom: 500px;
 */
 overflow-x: hidden;
}

/* CSS Variables */
:root {
    --priColor: #00a2ff;
    --priColor2: #9e9e9e;
    --priColorFade: #00a2ff8a;
    --secColor: #ffffff;
    --textColor: #333333;
    --textColorw:#ffffff;
    --bgColor: #f5f5f5;
    --BlaGB: #030303;
    --WhiBg: #ffffff;
}

/* Hero1 Styling */
.hero1 {
    background: linear-gradient(90deg, rgba(36, 36, 36, 0.541), #3a3a3a54), url(jacek-dylag-P1djASp78Ss-unsplash.jpg);
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Nav Menu Header CSS */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff25;
    backdrop-filter: blur(2px);
    color: var(--secColor);
    z-index: 100;
}

.header_mobile{
    display: none;
}


.logo-container {
    max-width: 150px;
}

.Companylogo {
    width: 70%;
    height: auto;
}

nav{
   width: 80%;
 flex-wrap: wrap;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 4vw;
}
nav ul li a, .re-used{
     text-decoration: none;
     color: var(--textColorw);
     border-radius: 5px;
     background-color: transparent;
     padding: .3vw 2.5vw;
     position: relative;
     transition: .3s;
     -webkit-transition: .3s;
     -moz-transition: .3s;
     -ms-transition: .3s;
     -o-transition: .3s;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
}

nav ul li a:hover{
    background-color: var(--priColor);
    font-size: 15px;
    color: var(--textColorw);
}

nav ul li{
    position: relative;
}
.mobile{
    display: none;
}



/* DropDown Menu CSS */
.dropdown_menu{
    display:block;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100%;
    background: #f3f3f3;
    border:1px solid #00a2ff ;
    border-radius: 0px 10px 10px 10px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    -webkit-border-radius: 0px 10px 10px 10px;
    -moz-border-radius: 0px 10px 10px 10px;
    -ms-border-radius: 0px 10px 10px 10px;
    -o-border-radius: 0px 10px 10px 10px;
}
.dropdown_menu{
    display: none;
}
nav ul li:hover .dropdown_menu{
    display: block;
}

.dropdown_menu ul{
    display: block;
    margin: 10px;
}
.dropdown_menu ul li{
    padding: 5px;
    width:230px;
}
.dropdown_menu ul li a{
    color: var(--textColor);
}

.logo1{
    position: absolute;
    width: 15px;
    left: 8px;
    top: 5px;
    opacity: 0;
    z-index: 1;
    transition: .3s;
}
  nav ul li a:hover .logo1{
    opacity: 1;
    } 




/* Catch Phrase CSS */
.catchPhrase{
/*     border: var(--bgColor) solid 2px;
 */    width: 70%;
    height: 60%;
    margin-left: -20vw;
    padding: 2vw;
}
.catchPhrase h1{
    color: var(--textColorw);
    font-size: 8vw;
}

.subAction{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;

}

/* This is the template for all Button */

.subAction p{
    color: var(--textColorw);
    width: 65%;
    font-size: 20px;
    text-align: left;
   
}



/* Hero2 CSS */
.hero2{
    width: 100%;
    height: 50vh;
    padding: 2vw 12vw;
    background-color: var(--WhiBg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin-top: 2vw;
}
.About{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-flow: column wrap;
    gap: .5vw;
}

.subHead{
    color: var(--priColor);
    font-weight: 300;
    font-size: 20px;
}
.AboutImg{
    /*border: #3a3a3a solid 2px;
    */flex: 1;
    height: 85%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    border: var(--priColor) 0px solid;
}
.hero2:hover .AboutImg{
    scale: 1.05;
    border: var(--priColor) 2px solid;
    box-shadow: #03030394 10px 10px 5px;

}
.slider {
    display: flex;
    transition: transform 0.5s ease;
}
.slides {
    display: flex;
    width: 100%;
}
.slide {
    min-width: 100%;
    height: 100%; 
}
.slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.active {
    display: block; 
}



/* Hero3 */
.hero3{
    width: 100%;
    height: 25vh;
    background: url(photos-by-lanty-O38Id_cyV4M-unsplash.jpg);
    background-position: 10% 50%;
    background-repeat:no-repeat ;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* Small Side Effect CSS */
.sideEffect {
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: #e0e0e0c9;
backdrop-filter: blur(.5rem);

}

.sideEffect p {
    font-size:5.6vw;
    font-weight: bold;
    text-align: left;
    color: var(--BlaGB);
    line-height: 17px;
}

#units {
    color: var(--BlaGB);
}

.blue {
    color: var(--priColor);
}
.gray{
color: var(--priColor2);
}

    /* hero4 */
    .hero4Heading{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vw;
        padding: .3vw 2vw;
        background-color: var(--priColor);
    }
    .hero4Heading p{
        font-size: 20px;
        letter-spacing: 2vw;
        color: var(--textColorw);
        text-transform: uppercase;
    }
    .hero4{
/*         border: #3a3a3a solid 2px;
 */        width: 100%;
        height: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: .5vw 5vw;
        margin-top: .5vw;
    }
    .clients{
        flex: 1;
        height: 100%;
        border: var(--priColor) solid 1px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.3vw;
        gap: 1vw;
        flex-flow: row wrap;
        background-image: linear-gradient(#fffffffb, #b9e5ff), url(pattern.png);
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.clients p{
    text-align: center ;
}

    .clients img {
        width: 40%;
        object-fit: cover;
    }

    .hero4eCatalogue-SlidesBreak{
        margin: auto;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
  
}


    /* hero5 CSS */ 
    .hero5{
        margin-top: 2vw;
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:.5vw;
        padding: 0vw 5vw;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
    }

    .card{
        flex: 1;
        height: 100%;
        background-color: var(--textColor);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
    .card::before{
        content: "";
        background-image: linear-gradient(#ff000000, #00000077);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        border-radius: 0px 0px 20px 20px;
        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        -ms-border-radius: 0px 0px 20px 20px;
        -o-border-radius: 0px 0px 20px 20px;
  
}

    .card:hover::before{
        background-image: linear-gradient(#ff000000, #00a2ff54);
        mix-blend-mode: color-dodge;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        border-radius: 0px 0px 20px 20px;
        -webkit-border-radius: 0px 0px 20px 20px;
        -moz-border-radius: 0px 0px 20px 20px;
        -ms-border-radius: 0px 0px 20px 20px;
        -o-border-radius: 0px 0px 20px 20px;
    }



    .card img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        
    }

 
    .cardInfo{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 44%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        padding: 0vw .5vw;
        transition: .3s ease ease-in-out;
        -webkit-transition: .3s ease ease-in-out;
        -moz-transition: .3s ease ease-in-out;
        -ms-transition: .3s ease ease-in-out;
        -o-transition: .3s ease ease-in-out;

}

.cardInfo div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

}
.cardInfo h1{
    color: var(--priColor);
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
    width: 350px;
    text-align: center;
}
.cardInfo p{
    text-align: left;
    line-height: 21px;
    font-size: 17px;
    margin-top: 0;
    width: 350px;
    color: var(--textColorw);
    text-align: center;

}

.GeneralButton{
    width: 50%;
    /*border: #3a3a3a solid 2px;
    */display: flex;
    align-items: center;
    justify-content: center;
    gap: 0%;
    background-color: var(--priColor);
    height: 4vw;
    margin-top: 1vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-decoration: none;
    color: var(--BlaGB);
    font-size: 20px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    
}

.GeneralButton img{
    width:20px;
    height: auto;
    opacity: 0;
    transition: .3s ease-in-out;
}


.GeneralButton:hover{
font-size: 18px;
color: var(--textColorw);
gap: 20%;
}

.GeneralButton:hover img{
    opacity: 1;
}





.eCatalogue-SlidesBreak{
    margin: auto;
    background-color: transparent;
    width: 70%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw 5vw;
}
.break{
    background-color: #00a2ff;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.break p {
    font-size:5vw;
    font-weight: 300;
    text-align: center;
    color: var(--textColorw);
    line-height: 17px;
}

.eCatalogue-Slides{
    width: 100%;
    background-color: var(--WhiBg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 5vw;
}

.slider-box-2 {
    margin-top: 40px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eCatalogue{
    position: absolute;
    top: 0;
    margin: auto;
    letter-spacing: 2vw;
}

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-2 {
    position: absolute; 
    inset: 80px 200px 80px 80px;

}

.slider-2 .slides-2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    border-radius: 20px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    transition: .5s;
    border: var(--priColor) solid 2px;
    box-shadow: #16161681 15px 20px 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.slider-2 .slides-2:nth-child(1),
.slider-2 .slides-2:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    background-size: cover;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.slider-2 .slides-2:nth-child(3) {
    left: calc(66% + 240px);
    background-size: cover;
}

.slider-2 .slides-2:nth-child(4) {
    left: calc(50% + 500px);
    background-size: cover;
}

.slider-2 .slides-2:nth-child(5) {
    left: calc(50% + 760px);
    background-size: cover;
}

.slider-2 .slides-2:nth-child(6) {
    left: calc(50% + 1020px);
    background-size: cover;
}

.button-2 {
    position: absolute;
    bottom: 15px;
    display: flex;
    gap: 20px;
}

.button-2 span {
    position: relative;
    height: 50px;
    width: 50px;
    background: #0a0c1b;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.button-2 span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(315deg) translate(2px, 2px);
}

.button-2 span:nth-child(2)::before {
    transform: rotate(135deg) translate(2px, 2px);
}

.button-2 span:active {
    background-color: rgb(87, 87, 87);
}

/* SLIDER RESPONSIVE */
@media (width <= 900px) {
    .slider-2 {
        position: absolute;
        inset: 40px 40px 200px 40px;
    }
    .slider-2 .slides-2 {
        width: 100px;
        height: 100px;
        top: initial;
        bottom: -170px;
    }
    .slider-2 .slides-2:nth-child(1),
    .slider-2 .slides-2:nth-child(2) {
        top: initial;
        bottom: 0px;
    }
    .slider-2 .slides-2:nth-child(3) {
        left: 0;
    }
    .slider-2 .slides-2:nth-child(4) {
        left: 120px;
    }
    .slider-2 .slides-2:nth-child(5) {
        left: 240px;
    }
    .slider-2 .slides-2:nth-child(6) {
        left: 360px;
    }
}
    

.footer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: .5vw 5vw;
/*     gap: 3px;
 */}
.upper, .lower{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upper{
background-color: #ffffff;
}
.lower{
    background-color: var(--BlaGB);
}
.lower p{
    color: var(--textColorw);
}


.seenEnough, .footerContact,.contactIcon, .contactIconBot{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0vw 3vw;
    background-color: #00a2ff09;

}
.seenEnough p{
    font-weight: 500;
    line-height: 16px;
}
.footerContact h1{
font-weight: 500;
font-size: 3vw;
line-height: 16px;
text-decoration: underline #00a2ff 3px;
}

.contactIcon{
    justify-content: end;
}

.contactIcon a{
    text-decoration: none;
    font-size: 3vw;
    background-color: var(--BlaGB);
    padding: 1vw 1.7vw;
    border-radius: 50%;
    color: var(--priColor);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.contactIcon a:hover {
    font-size: 2.5vw;
    background-color: var(--priColor);
    color: var(--textColorw);

}

.seenEnough2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 2vw;

}

.footerContact2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;

}
#footerLogos{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

#footerCatchPhrase{
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: 300;
}
#footerCatchPhrase span{
color: var(--priColor);
}

#socials{
    font-weight: 300;
}
#socials span{
    color: var(--priColor);
}

#footerLogos{
width: 30%;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
padding: 4vw;
gap: .5vw;
}
.otherLogos, .majorLogo{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.otherLogos a{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otherLogos a img{
    width: 60px;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    border: var(--priColor) 0px solid;
    box-shadow: var(--priColor) 0 0 0px, var(--priColor) 0 0 0px;
}
.otherLogos a img:hover{
    width: 50px;
     border: var(--priColor) 2px solid;
     border-radius: 50%;
    box-shadow: var(--priColor) 0 0 20px, var(--priColor) 0 0 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.majorLogo a{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.majorLogo a img{
    width: 100%;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}
.majorLogo a img:hover{
    width: 90%;
}


/* Disclaimer */
.disclaimer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discalimer p{
    text-align: center;
}

/* Responsive Styles */





/* Media Queries */
@media only screen and (width >= 2200px) {


    .header{
        background-color: #fff;
    }
    .header a{
        color: var(--textColor);
        font-size: 1.3vw;
    }
    .header a:hover{
        font-size: 1.1vw;
    }


    .Companylogo{
        width: 10vw;
    }

.dropdown_menu{
    width: 500px;
}
.dropdown_menu ul li{
    width: 100%;
}
.subAction p{
    font-size:35px;
    text-align:left;
}


.GeneralButton {
    font-size: 35px;
    width: 350px;
}

.GeneralButton:hover{
    font-size:40px;
}

.About p{
    font-size: 40px;
}

.hero2{
    height:70vh;
}
.hero4Heading{
    height: 60px;
}
.hero4Heading p{
    font-size:40px;
    font-weight: bold;
}
.clients{
    background: var(--bgColor);
}
.clients img{
    width: 40%;
}
.clients p{
    font-size:30px;
}

.cardInfo {
    height: 60%;
}
.cardInfo div{
    flex-flow:column wrap;
}

.cardInfo div h1{
   font-size: 40px;
   width:100%;
   text-align: center;
}
.cardInfo div p{
    font-size:30px;
    width:100%;
    line-height: 29px;
    text-align:center;
 }
 .slider-box-2 p{
    font-size:40px;
 }
 .slider-2 .slides-2:nth-child(3) {
    left: calc(66% + 600px);
    background-size: cover;
}
.button-2 span{
    width:100px;
    height:100px;
}
.seenEnough p{
    font-size:40px;
    line-height: 39px;
}
#socials{
    font-size:30px;
}
}

@media only screen and (width >= 1300px) {
    .GeneralButton {
        width: 350px;
    }

    .hero2{
        height:75vh;
    }

    .cardInfo{
        height:60%;
    }

}

@media only screen and (width >= 1110px) {
    .GeneralButton {
        width: 350px;
    }

    .hero2{
        height:75vh;
    }

    .cardInfo{
        height:60%;
    }
    .cardInfo div h1{
        font-size:23px;
        text-align: center;
    }
    #socials{
        font-size: 14px;
    }
 
    .seenEnough2{
    width: 20%;
   }

   .majorLogo a img{
    width: 60%;
}
.otherLogos{
        width: 75%;
}

.otherLogos a img{
    width:45px;
}

}


@media only screen and (width >= 1080px){
    .otherLogos{
        width:100%;
        margin: 10px;
}
#socials{
    font-size: 12px;
}

.otherLogos a img{
    width:40px;
}
}

@media only screen and (width >= 1024px){
    #socials{
        font-size: 12px;
    } 
    .otherLogos a img{
        width:40px;
    }
    .otherLogos{
        width:100%;
        margin: 10px;
}
}

@media (width >= 1000px){
    

    .catchPhrase{
    height: 60%;
    padding-top: 50px;
   
}
.catchPhrase h1{
    margin-bottom: 20px;
}
.subAction{
    width:90%;
}

.hero2{
    height:65vh;
}
.clients img{
    width:35%;
}

    .clients p {
        text-align: center;
        font-size: 13px;
    }

    .cardinfo{
        height:60%;
    }
    .cardInfo h1 {
        font-size: 18px;
    }
    .header{
        display: flex;
       
    }
    
}

@media only screen and (width <= 980px){
.header nav ul li a{
    font-size: 12px;
}

.header nav ul li a img{
    width: 10px;
}
}

@media only screen and (width <= 991px){
.hero2{
    height: 70vh;
}
.clients img{
    width:30%;
}
.clients p{
    font-size: 12px;
}
.cardInfo h1{
    font-size: 20px;
}
.cardInfo p{
    font-size: 13px;
}

.cardInfo .GeneralButton{
    width: 130px;

}
.cardInfo .GeneralButton img{
    display: none;
}
.footer{
    height: 50vh;
}
.upper{
    display: none;
}
#socials{
font-size: 12px;
}
.otherLogos a img{
    width:40px;
}
.otherLogos{
    width:100%;
    margin: 10px;
}


}

@media (width <= 885px){
    body{
        overflow-x: hidden;
        position: relative;
      }

.mobile{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    z-index: 9999;
}

    .mobile_header_for_logo_menu{
        background-color: transparent;
        width: 100%;
        height: 80px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 10px 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu-btn{
        width: 60px;
        height: 100%;
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        position: relative;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
.menu-icon, .menu-icon::before, .menu-icon::after{
width: 30px;
height: 3px;
background-color: var(--priColor);
position: absolute;
transition: .3s all;
}

.menu-icon::before, .menu-icon::after{
    content: "";
}

.menu-icon::before{
    transform: translate(0px, 10px);
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
}
.menu-icon::after{
    transform: translate(-0px, -10px);
    -webkit-transform: translate(-0px, -10px);
    -moz-transform: translate(-0px, -10px);
    -ms-transform: translate(-0px, -10px);
    -o-transform: translate(-0px, -10px);
}

    .mobile_logo{
        width: 100%;
    }
    .mobile_logo img{
        width: 100px;
    }

    .header{
        display: none;
       
    }

    .header_mobile{
        background-color: var(--priColor);
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        width: 300px;
        right: 0;
        top: 0;
        height: 100vh;
        padding: 20px 0px;
        transition: .3s all;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;

}

    .header_mobile nav{
        height: 100%;
    }
    .header_mobile nav ul{
    
        display: flex;
        height: 100%;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .dropdown_menu{
        width: 300px;
    }
    .dropdown_menu ul li{
        width: 100%;
    }
    .header_mobile nav ul a{
        font-size: 22px;
    }
    .header_mobile nav ul a:hover{
        font-size: 20px;
        color: var(--textColor);
    }

  
    .dropdown_menu{
        z-index: 3;
        transform: translate(-300px, -100px);
        -webkit-transform: translate(-300px, -100px);
        -moz-transform: translate(-300px, -100px);
        -ms-transform: translate(-300px, -100px);
        -o-transform: translate(-300px, -100px);
        border-radius: 10px 0px 10px 0px;
        -webkit-border-radius: 10px 0px 10px 0px;
        -moz-border-radius: 10px 0px 10px 0px;
        -ms-border-radius: 10px 0px 10px 0px;
        -o-border-radius: 10px 0px 10px 0px;
}

.dropdown_menu ul{
        gap: 10px;
}

:is(.mobile:hover, .mobile:focus-within) .menu-icon{
    background-color: transparent;

}
:is(.mobile:hover, .mobile:focus-within) .menu-icon::before{
    transform: translate(0px) rotate(-45deg);
    -webkit-transform: translate(0px) rotate(-45deg);
    -moz-transform: translate(0px) rotate(-45deg);
    -ms-transform: translate(0px) rotate(-45deg);
    -o-transform: translate(0px) rotate(-45deg);
    background-color: var(--WhiBg);
    box-shadow: #fff 0px 0px 10px, #fff 0px 0px 30px;;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
:is(.mobile:hover, .mobile:focus-within) .menu-icon::after{
    transform: translate(0px) rotate(45deg);
    -webkit-transform: translate(0px) rotate(45deg);
    -moz-transform: translate(0px) rotate(45deg);
    -ms-transform: translate(0px) rotate(45deg);
    -o-transform: translate(0px) rotate(45deg);
    background-color: var(--WhiBg);
    box-shadow: #fff 0px 0px 10px, #fff 0px 0px 30px;;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
:is(.mobile:hover, .mobile:focus-within) .menu-btn{
    transform: rotate(720deg);
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    background-color: transparent;
}
:is(.mobile:hover, .mobile:focus-within) .header_mobile{
    display: flex;

}

.hero1{
    height: 60vh;
}
.catchPhrase{
    height: 80%;
    align-items: start;
    justify-content: start;

}
.catchPhrase h1{
    font-size: 8vw;
}
.subAction{
    flex-flow: column wrap;
    gap: 10px;
    align-items: start;
    justify-content: start;
}
.subAction p{
    width:100%;
    font-size: 16px;
}
.subAction a{
    margin-top: 5px;
}

.hero2{
    padding: 2vw 5vw;
    height: 60vh;
}
.hero4{
    height: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-between;
    
}
.clients {
    flex: 1 1 calc(50% - 2vw); 
    height: auto;
    height: 180px;
}

.hero5{
    display: none;
}

.break{
    height: 70px;
}
.eCatalogue-Slides{
    margin-top: -10px;
}
.footer{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lower{
    display: flex;
    background-color: #333333;
}
.seenEnough2{
    width: 50%;
    display: none;
}

#footerCatchPhrase{
display: none;
}
#socials{
    font-size: 14px;
    flex: 1;
    margin-left: 3vw;
}

}

@media (width <= 840px){
.catchPhrase{
    margin-top: 50px;
}
.GeneralButton{
    height: 55px;
}
.hero3{
    height: 14vh;
}
.sideEffect{
    height: 100%;
}
.hero4Heading p{
    text-align: center;
}
.clients{
    height: 250px;
}
.clients p{
    font-size: 20px;
}

}

@media (width <= 640px){
    .hero2{
        flex-flow: column wrap;
        height: 120vh;
        margin-bottom: 40px;
    }
     
    .hero2 .About{
        order: 2;
        margin-top: -30px;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        
    }
    .AboutImg{
        border: var(--priColor) 2px solid;

    }
    .hero2:hover .AboutImg{
        scale: 1;
        border: var(--priColor) 2px solid;
        box-shadow: #03030300 0px 0px 0px;
    
    }
    .About p{
        font-size: 18px;
    }
    
    .hero3{
        margin-top: -90px;
    }
    .footer{
        height: 90vh;

    }
    .lower{
        flex-flow: row wrap;
    }
    #socials{
        font-size: 16px;
    }

    #footerLogos{
        height: 40vh;
        flex-flow: column wrap;
    }
    .majorLogo{
        width: 50%;
    }
    .otherLogos{
        width: 60%;
    }
    .otherLogos a img{
        width: 60px;
    }


    .footerContact2{
        height: auto;
    }



}

@media (width <= 560px){
.hero1{
    height: 55vh;
}
.catchPhrase .GeneralButton{
    height: 50px;
}
.catchPhrase .GeneralButton img{
    display: none;
}
.footer{
    background-color: #030303;
    height: 60vh;
}
.lower{
    background-color: #030303;
 

}
#footerLogos{
height: auto;
flex-flow: row wrap;
}

.otherLogos{
    flex: 1;
}
.otherLogos a img{
    width: 40px;
}
#socials{
    margin-top: 10px;
}
}

@media (width <= 523px){
    .hero1{
        background-size: 150%;
    }
    .catchPhrase{
        width: 90%;
        margin-left: 10px;
    }

    .mobile_header_for_logo_menu{
        padding: 1vw 4vw;
    }

}

@media (width <= 480px){
    .GeneralButton img{
        display: none;
    }
.hero1{
    background-size: 170%;
}
.header_mobile{
    height: 55vh;
    width: 200px;
}
.header_mobile ul li a{
    font-size: 16px;
}
.dropdown_menu{
    width: 200px;
    transform: translate(-210px, -45px);
    -webkit-transform: translate(-210px, -45px);
    -moz-transform: translate(-210px, -45px);
    -ms-transform: translate(-210px, -45px);
    -o-transform: translate(-210px, -45px);
}

.hero2{
    height: 80vh;
}
.AboutImg{
    margin-bottom: -10px;
    border: none;
}
.About p{
    font-size: 15px;
    padding: 0px 20px;
}

.About{
    gap: 10px;
    margin-bottom: 50px;
}
.hero3{
    height: 60px;
}
.sideEffect{
    height: 100%;
    background-color: #ffffffd8;
}
.clients{
    margin: 0px 20px;
}
.clients p{
    font-size: 15px;

}
.footer{
    height: 50vh;
}

#socials{
    font-size: 13px;
    white-space: nowrap;
    margin-top: 0;
}
.footerContact2{
    height: 25vh;
}
#footerLogos{
    margin-top:0;
}

#disclaimer{
    display: flex;
    justify-content: center;
}
#disclaimer p{
    font-size: 13px;
    text-align: center;
}
}





    

   







